body {
	font-family: Geneva, Verdana, sans-serif;
	background-color: #0f0f23;
	color: white;
	padding: 1vw;
}

h1, h2 {
	font-style: normal;
	font-variant: normal;
	color: greenyellow;
}

table, th, td {
	border-collapse: collapse;
}

th, td {
	font-style: normal;
	font-variant: normal;
	padding-left: 7px;
	padding-right: 7px;
}

a {
	color: inherit;
	text-decoration: none;
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 16px;
}

th {
	font-size: 15px;
}

td {
	font-size: 14px;
}

.row-even {
	
}

.row-odd {
	background-color:#26263d;
}

.row-1 {
	color: #41ff07;
	/* color: #34ebc9; */
}

.row-2 {
	color: #3ac900;
	/* color: #17d960; */
}

.row-3 {
	color: #00ab03;
	/* color: #fdff76; */
}

.older, .younger {
	float: left;
	width: 100%;
}

.older, .younger {
	min-width:600px;
}

.recents {
	float: left;
	min-width:700px;
}

.long {
	color: red;
}


.tab {
	overflow: hidden;
  }
  
  .tab button {
	  color: green;
	  background-color: inherit;
	  float: left;
	  border: none;
	  outline: none;
	  cursor: pointer;
	  padding: 14px 16px;
	  transition: 0.3s;
	  font-size: 17px;
  }
  
  .tab button:hover, button.active {
	  color: greenyellow;
	  background-color: #26263d;
  }
  
  .tabcontent {
	display: none;
	padding: 6px 12px;
	border-top: none;
  }
